@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Neighbor local font */
@font-face {
    font-family: "Neighbor";
    src: url("/fonts/Neighbor/fonnts.com-Neighbor_Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neighbor";
    src: url("/fonts/Neighbor/fonnts.com-Neighbor_Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Neighbor";
    src: url("/fonts/Neighbor/fonnts.com-Neighbor_Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Geist', sans-serif;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-25%);
    }
}


.marquee-content {
    animation: scroll-left 25s linear infinite;
    width: max-content;
}

:root {
    /* Viewport boundaries for fluid scaling */
    --site--viewport-min: 320;
    --site--viewport-max: 1280;

    /* Font trims */
    --_typography---font--primary-trim-top: .4em;
    --_typography---font--primary-trim-bottom: .37em;
    --_typography---font--secondary-trim-top: .38em;
    --_typography---font--secondary-trim-bottom: .36em;

    /* Fluid font sizes */
    --_typography---font-size--display: clamp(4rem, calc(2.33333rem + 5.20833vw), 7rem);
    /* 4rem@320 to 7rem@1280 */
    --_typography---font-size--h1: clamp(3rem, calc(2.5rem + 0.15625vw), 4.5rem);
    /* 3rem@320 to 4.5rem@1280 */
    --_typography---font-size--h2: clamp(2.5rem, calc(1.71875rem + 2.455729vw), 4rem);
    /* 2.5rem@320 to 4rem@1280 (approx values) */
    --_typography---font-size--h4: clamp(1.75rem, calc(1.64583rem + 0.32552vw), 2rem);
    /* 1.75rem@320 to 2rem@1280 (approx values) */
    --_typography---font-size--h5: clamp(1.375rem, calc(1.33594rem + 0.12239vw), 1.5rem);
    /* 1.375rem@320 to 1.5rem@1280 (approx values) */

    /* Letter spacing */
    --_typography---letter-spacing--normal: 0em;
    --_typography---letter-spacing--tight: -0.03em;

    /* Line heights */
    --_typography---line-height--small: 1;
    --_typography---line-height--medium: 1.1;
    --_typography---line-height--large: 1.3;
    --_typography---line-height--huge: 1.5;
}